---
layout: base
---
<div class="album py-5 bg-light">
    <div class="container">
        <h2>{{ page.title }}</h2>
        {{ page.country }} | {{ page.type }} | {{ page.date_election | date: "%-d" }} de
        {% assign m = page.date_election | date: "%-m" %}
        {% case m %}
            {% when '1' %}Enero
            {% when '2' %}Febrero
            {% when '3' %}Marzo
            {% when '4' %}Abril
            {% when '5' %}Mayo
            {% when '6' %}Junio
            {% when '7' %}Julio
            {% when '8' %}Agosto
            {% when '9' %}Setiembre
            {% when '10' %}Octubre
            {% when '11' %}Noviembre
            {% when '12' %}Diciembre
        {% endcase %}
        del {{ page.date_election | date: "%Y" }}

        <p>{{ content | markdownify }}</p>

        <a href="/">&#8592; Volver</a>
    </div>
</div>